.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  background: linear-gradient(90deg, rgba(23, 11, 149, 0.9) 0.02%, #635AC9 37.44%, rgba(99, 90, 201, 0.72) 54.77%, rgba(99, 90, 201, 0.1) 69.58%);
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.cmp-hero-content {
  margin: 0 120px; /* Adds 120px margin to the left and right */
  padding: 90px 0; /* Adds 90px padding to the top and bottom */
  box-sizing: border-box; /* Ensures padding and margin are included in the element's dimensions */
}
.cmp-hero-first-p {
  font-family: droid-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.25rem;
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0 0 0.5em;
  width: 50%; /* Restrict the width to the left portion */
  text-align: left; /* Align text to the left */
  color: white; /* Set text color to white */
}

.cmp-hero-content h4 {
  color: white; /* Set text color to white for h4 */
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}